:root{
    --cor-primaria: blue; 
    --cor-secundaria: blue;  
    --cor-fundo: white;
    --cor-texto: red;
    --cor-contraste: white;
    --cor-botao: white;
}

.tena-escuro {
    --cor-primaria: white; 
    --cor-secundaria: blue;  
    --cor-fundo: #000;
    --cor-texto: red;
    --cor-contraste: white;
    --cor-botao: white;
}

body {
    max-width: 100vw;
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

    main{
        background-color: white;
        color: blue;
        margin: 0 auto;
        padding: 16px;

        display: flex;
    }

    article {
        display: flex;

        border: 1px solid blue;
        
        margin: 16px;
        gap: 16px;
        padding: 16px;

    }

    img {
    width: 80px;
    height: 80px;
 }

 .artigo-autor {
font-weight: bold;
 }